/*// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }*/

/*// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }*/

@media (min-width: 768px) and (max-width: 1199.98px) {

}
@media (max-width: 767.98px) { 
	.banner-area {
		padding-top: 100px;
    	height: 450px;
	}
	.banner-text h1, .winner-wrapper h2, .how-play-wrapper h2, .faq-wrapper h2, .testimonial-wrapper h2 {
		font-size: 26px;
	}
	.banner-text p {
		font-size: 16px;
	}
	.download-btn {
		display: none;
	}
	.mobile-download-btn {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9;
		display: block;
	}
	.mobile-download-btn a {
		display: block;
		background: #ce4949;
		text-align: center;
		padding: 16px 0;
		color: #fff;
		font-size: 20px;
		text-transform: uppercase;
    	font-family: 'Gotham-Bold', sans-serif;
	}
	.mobile-download-btn a i {
		margin-right: 10px;
	}
	.mobile-download-btn a:hover {
		color: #ce4949;
		background: #fff000;
	}
	.winner-tabs ul {
		justify-content: flex-start;
		flex-wrap: nowrap;
		overflow: auto;
		white-space: nowrap;
	}
	.winner-tabs ul li a {
		margin-right: 20px;
	}
	.winner-info {
		flex: 0 0 65%;
		max-width: 65%;
	}
	.how-play-wrapper iframe {
		height: 300px;
		margin-bottom: 20px;
	}
	.testimonial-img {
		flex: 0 0 140px;
	}
	.footer-logo {
		margin: 0 auto 24px;
	}
	.footer-social ul {
		text-align: center;
		padding-bottom: 24px;
		margin-bottom: 24px;
		border-bottom: 1px solid #ccc;
	}
	.footer-menu {
		text-align: center;
		margin-bottom: 24px;
	}
	.footer-last {
		border-top: 1px solid #ccc;
	}
	.footer-last ul {
		padding-top: 24px;
		display: flex;
		justify-content: space-around;
	}
}